[Unit]
Description=Proxy app server
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_path }}
EnvironmentFile=/etc/default/{{ app_user }}

ExecStart={{ pyenv_venv_path }}/bin/gunicorn \
          --access-logfile - \
          --error-logfile - \
          --log-level info \
          --workers 3 \
          --bind unix:{{ deploy_path }}/gunicorn.sock \
          masmovil_proxy.wsgi

[Install]
WantedBy=multi-user.target
