#!/bin/sh
cd {{ app_path }}
{{ pyenv_venv_path }}/bin/python manage.py migrate
{{ pyenv_venv_path }}/bin/python manage.py importcsv --mappings='' --model='api.tariffs' --delimiter=',' api/fixtures/tariffs.csv
{{ pyenv_venv_path }}/bin/python manage.py importcsv --mappings='' --model='api.internationalTariffs' --delimiter=',' api/fixtures/internationalTariffs.csv
{{ pyenv_venv_path }}/bin/python manage.py importcsv --mappings='' --model='api.region' --delimiter=',' api/fixtures/region.csv
{{ pyenv_venv_path }}/bin/python manage.py importcsv --mappings='' --model='api.province' --delimiter=',' api/fixtures/province.csv
{{ pyenv_venv_path }}/bin/python manage.py importcsv --mappings='' --model='api.donorOperator' --delimiter=',' api/fixtures/donorOperator.csv
{{ pyenv_venv_path }}/bin/python manage.py importcsv --mappings='' --model='api.roadType' --delimiter=',' api/fixtures/roadType.csv
